
.vs/cshtmlCompress/v14/.suo
cshtmlCompress/obj/x86/Debug/cshtmlCompress.csproj.FileListAbsolute.txt
*.cache
cshtmlCompress/obj/x86/Debug/cshtmlCompress.csproj.FileListAbsolute.txt
cshtmlCompress/obj/x86/Debug/cshtmlCompress.pdb
*.cache
cshtmlCompress/obj/x86/Debug/cshtmlCompress.csproj.FileListAbsolute.txt
